<main class="row">
  <app-who-am-i-text class="col-12 col-lg-4 col-md-6"></app-who-am-i-text>
  <app-my-services-text class="col-12 col-lg-4 col-md-6"></app-my-services-text>
  <app-what-else-text class="col-12 col-lg-4 col-md-12"></app-what-else-text>
</main>