

/**

header {
  display: flex;
  background-color: #3f51b5;
  color: white;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
}

#container {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
}

#name img {
  pointer-events: none;
}


header:not(.scrolled) {
  height: 100%;
}

header.scrolled {
  padding-top: 10px;
  padding-bottom: 10px;
}

header div {
  flex-direction: column;
  margin: auto;
  display: flex;
}

@keyframes mymove {
  from {transform: translateY(60px) scale(2); opacity: 0.5}
  to {transform: translateY(90px) scale(4); opacity: 0}
}

header mat-icon {
  margin: auto;
  transition: 500ms;
  pointer-events: none;
  animation: mymove 1500ms infinite ease-out;
}


header.scrolled mat-icon {
  display: none;
}


header img {
  display: block;
  margin: auto;
}



*/


