<div class="row justify-content-center">
    <app-paragraph [title]="'skills.backend.definition.title' | translate" [p1]="'skills.backend.definition.p1' | translate" class="col-12 col-lg-8 mb-1 mb-lg-5"></app-paragraph>
    <app-paragraph [title]="'skills.backend.service.title' | translate" [p1]="'skills.backend.service.p1' | translate" class="col-12 col-lg-4 mb-1 mb-lg-5"></app-paragraph>
    <app-paragraph [title]="'skills.nodejs.title' | translate" [p1]="'skills.nodejs.p1' | translate" imgLink="./assets/images/nodejs.png" class="col-12 col-md-6 col-lg-4 mb-1 mb-lg-5"></app-paragraph>
    <app-paragraph [title]="'skills.mongodb.title' | translate" [p1]="'skills.mongodb.p1' | translate" imgLink="./assets/images/mongodb.png" class="col-12 col-md-6 col-lg-4 mb-1 mb-lg-5"></app-paragraph>
    <app-paragraph [title]="'skills.docker.title' | translate" [p1]="'skills.docker.p1' | translate" imgLink="./assets/images/docker.png" class="col-12 col-md-6 col-lg-4 mb-1 mb-lg-5"></app-paragraph>
    <app-paragraph [title]="'skills.rabbitmq.title' | translate" [p1]="'skills.rabbitmq.p1' | translate" imgLink="./assets/images/rabbitmq.png" class="col-12 col-md-6 col-lg-4 mb-1 mb-lg-5"></app-paragraph>
    <app-paragraph [title]="'skills.expressjs.title' | translate" [p1]="'skills.expressjs.p1' | translate" imgLink="./assets/images/expressjs.png" class="col-12 col-md-6 col-lg-4 mb-1 mb-lg-5"></app-paragraph>
    <app-paragraph [title]="'skills.graphql.title' | translate" [p1]="'skills.graphql.p1' | translate" imgLink="./assets/images/graphql.png" class="col-12 col-md-6 col-lg-4 mb-1 mb-lg-5"></app-paragraph>
    <app-call-to-action [actionTitle]="'tools.CTA.contactMeTitle' | translate" [messageLabel]="'tools.CTA.describeYourNeedLabel' | translate" class="col-12 col-md-8 align-self-center"></app-call-to-action>
</div>