
:host {
    float: right;
    text-align: right;
    padding: 20px;
    padding-bottom: 50px;
    padding-right: 0px;
    color: #888eb1;
    margin-top: 20px
}


a {
    color: #7a82b1;
}

a:hover {
    color: #656fad;
    text-decoration: underline;

}

img:hover {
    opacity: 1;
    transform: scale(1.3);
}


img {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    transition: 200ms;
    opacity: 0.3;
}