
<div>
    Mathieu Berthellemy SASU
</div>
<div>
    {{'footer.capital' | translate}}
</div>
<div>
    SIRET 885 249 557 00012
</div>
<a rel="noreferrer" class="d-block" routerLink="/others/gcs">{{'footer.gcs' | translate}}</a>
<a rel="noreferrer" class="d-block" routerLink="/others/pricing">{{'footer.pricing' | translate}}</a>
<div>
    <a rel="noreferrer" href="https://gitlab.com/mberthellemy/berthellemy.com" target="_blank" matTooltip="{{'footer.sourceCodeTooltip' | translate}}">
        <img style="transform: scale(0.8)" alt="Gitlab" src="./assets/images/gitlab.png">
    </a>
    <a rel="noreferrer" target="_blank" href="https://www.linkedin.com/in/mathieu-berthellemy-199a7b72/" matTooltip="LinkedIn">
        <img style="transform: scale(0.8)" alt="LinkedIn" src="./assets/images/linkedin.png">
    </a>
</div>
