<h2><app-blured-in-text [text]="'experiences.projects.keywords.title' | translate"></app-blured-in-text></h2>


<mat-slide-toggle class="mb-3 d-block" *ngIf="!isMobile" [checked]="showSelectedKeywords$ | async" (change)="toggleHoverStatus($event.checked)" style="margin-top: 20px" color="primary">
  <app-blured-in-text [text]="'experiences.projects.keywordHoverLabel' | translate"></app-blured-in-text>
</mat-slide-toggle>

<mat-slide-toggle class="mb-3 d-block" (change)="toggleHeatmapStatus($event.checked)" [ngModel]="heatmapSelected$ | async" color="primary">
  Heatmap
</mat-slide-toggle>

<ng-container *ngIf="selectedKeywords$ | async as selectedKeywords">
  <mat-chip-list aria-label="keywords">
    <mat-chip [ngStyle]="{'color': selectedKeywords.has(keyword) || (heatmapSelected$ | async) ? mappedKeywordsColors[keyword]: undefined, 'background-color': selectedKeywords.has(keyword) || (heatmapSelected$ | async) ? mappedKeywordsBackgroundColors[keyword] : undefined}" *ngFor="let keyword of keywords">{{keyword}}</mat-chip>
  </mat-chip-list>
</ng-container>
