

<div class="row">
    <app-paragraph class="col-12" [title]="'gcs.p1.title' | translate" [p1]="'gcs.p1.text' | translate"></app-paragraph>
    <app-paragraph class="col-12" [title]="'gcs.p2.title' | translate" [p1]="'gcs.p2.text' | translate"></app-paragraph>
    <app-paragraph class="col-12" [title]="'gcs.p3.title' | translate" [p1]="'gcs.p3.text' | translate"></app-paragraph>
    <app-paragraph class="col-12" [title]="'gcs.p4.title' | translate" [p1]="'gcs.p4.text' | translate"></app-paragraph>
    <app-paragraph class="col-12" [title]="'gcs.p5.title' | translate" [p1]="'gcs.p5.text' | translate"></app-paragraph>
    <app-paragraph class="col-12" [title]="'gcs.p6.title' | translate" [p1]="'gcs.p6.text' | translate"></app-paragraph>
    <app-paragraph class="col-12" [title]="'gcs.p7.title' | translate" [p1]="'gcs.p7.text' | translate"></app-paragraph>
    <app-paragraph class="col-12" [title]="'gcs.p8.title' | translate" [p1]="'gcs.p8.text' | translate"></app-paragraph>
    <app-paragraph class="col-12" [title]="'gcs.p9.title' | translate" [p1]="'gcs.p9.text' | translate"></app-paragraph>
    <app-paragraph class="col-12" [title]="'gcs.p9-1.title' | translate" [p1]="'gcs.p9-1.text' | translate"></app-paragraph>
    <app-paragraph class="col-12 col-md-7" [title]="'gcs.p9-2.title' | translate" [p1]="'gcs.p9-2.text' | translate"></app-paragraph>
    <app-paragraph class="col-12 col-md-5" [title]="'gcs.p9-3.title' | translate" [p1]="'gcs.p9-3.text' | translate"></app-paragraph>
    <app-paragraph class="col-12" [title]="'gcs.p10.title' | translate" [p1]="'gcs.p10.text' | translate"></app-paragraph>
    <app-paragraph class="col-12" [title]="'gcs.p10-1.title' | translate" [p1]="'gcs.p10-1.text' | translate"></app-paragraph>
    <app-paragraph class="col-12 col-md-6" [title]="'gcs.p10-2.title' | translate" [p1]="'gcs.p10-2.text' | translate"></app-paragraph>
    <app-paragraph class="col-12 col-md-6" [title]="'gcs.p10-3.title' | translate" [p1]="'gcs.p10-3.text' | translate"></app-paragraph>
    <app-paragraph class="col-12" [title]="'gcs.p11.title' | translate" [p1]="'gcs.p11.text' | translate"></app-paragraph>
    <app-paragraph class="col-12" [title]="'gcs.p12.title' | translate" [p1]="'gcs.p12.text' | translate"></app-paragraph>
    <app-paragraph class="col-12" [title]="'gcs.p13.title' | translate" [p1]="'gcs.p13.text' | translate"></app-paragraph>
    <app-paragraph class="col-12" [title]="'gcs.p14.title' | translate" [p1]="'gcs.p14.text' | translate"></app-paragraph>
    <app-paragraph class="col-12" [title]="'gcs.p15.title' | translate" [p1]="'gcs.p15.text' | translate"></app-paragraph>
    <app-paragraph class="col-12" [title]="'gcs.p16.title' | translate" [p1]="'gcs.p16.text' | translate"></app-paragraph>
    <app-paragraph class="col-12" [title]="'gcs.p17.title' | translate" [p1]="'gcs.p17.text' | translate"></app-paragraph>
    <app-paragraph class="col-12" [title]="'gcs.p18.title' | translate" [p1]="'gcs.p18.text' | translate"></app-paragraph>
    <app-paragraph class="col-12" [title]="'gcs.p19.title' | translate" [p1]="'gcs.p19.text' | translate"></app-paragraph>
    <app-paragraph class="col-12" [title]="'gcs.p20.title' | translate" [p1]="'gcs.p20.text' | translate"></app-paragraph>
    <app-paragraph class="col-12" [title]="'gcs.p21.title' | translate" [p1]="'gcs.p21.text' | translate"></app-paragraph>
    <app-paragraph class="col-12" [title]="'gcs.p22.title' | translate" [p1]="'gcs.p22.text' | translate"></app-paragraph>
    <app-paragraph class="col-12" [title]="'gcs.p23.title' | translate" [p1]="'gcs.p23.text' | translate"></app-paragraph>
    <app-paragraph class="col-12" [title]="'gcs.p24.title' | translate" [p1]="'gcs.p24.text' | translate"></app-paragraph>
    <app-paragraph class="col-12" [title]="'gcs.p25.title' | translate" [p1]="'gcs.p25.text' | translate"></app-paragraph>
    <app-paragraph class="col-12" [title]="'gcs.p26.title' | translate" [p1]="'gcs.p26.text' | translate"></app-paragraph>
    <app-paragraph class="col-12" [title]="'gcs.p27.title' | translate" [p1]="'gcs.p27.text' | translate"></app-paragraph>
    <app-paragraph class="col-12" [title]="'gcs.p28.title' | translate" [p1]="'gcs.p28.text' | translate"></app-paragraph>
    <app-paragraph class="col-12 col-md-6" [title]="'gcs.p28-1.title' | translate" [p1]="'gcs.p28-1.text' | translate"></app-paragraph>
    <app-paragraph class="col-12 col-md-6" [title]="'gcs.p28-2.title' | translate" [p1]="'gcs.p28-2.text' | translate"></app-paragraph>
    <app-paragraph class="col-12" [title]="'gcs.p28-3.title' | translate" [p1]="'gcs.p28-3.text' | translate"></app-paragraph>
    <app-paragraph class="col-12" [title]="'gcs.p28-4.title' | translate" [p1]="'gcs.p28-4.text' | translate"></app-paragraph>
    <app-paragraph class="col-12" [title]="'gcs.p28-5.title' | translate" [p1]="'gcs.p28-5.text' | translate"></app-paragraph>
    <app-paragraph class="col-12" [title]="'gcs.p29.title' | translate" [p1]="'gcs.p29.text' | translate"></app-paragraph>
</div>