
nav {
    display: inline-block;
    border-radius: 5px;
    padding: 2px;
}

nav:not(.mobile) {
    background: #ecedf4;
}

nav.mobile a {
    background-color: #e6e6e6;
}

a {
    margin: 4px;
    text-decoration: none;
}

a.mat-menu-item {
    margin: 0px;
    margin-right: 10px;
}

nav > a.active {
    background-color: #d2d2d3!important;
}

a mat-icon {
    position: relative;
    bottom: 1px;
    opacity: 0.6;
}


a.mat-menu-item.active mat-icon {
    color: black;
}


a.mat-menu-item.active {
    pointer-events: none;
}
