<nav [ngClass]="{'mobile': isMobile}">
    <a routerLinkActive="active" mat-button routerLink="/home">
        <ng-container *ngIf="!isMobile">
            {{'navbar.home' | translate}}
        </ng-container>
        <mat-icon *ngIf="isMobile">home</mat-icon>
    </a>
    <a routerLinkActive="active" mat-button [matMenuTriggerFor]="menuSkills" style="padding-right: 5px">
        {{'navbar.skills.name' | translate}}
        <mat-icon>expand_more</mat-icon>
        <mat-menu #menuSkills="matMenu">
            <a routerLinkActive="active" mat-menu-item routerLink="/skills/teamwork">
                <mat-icon>groups</mat-icon>
                {{'navbar.skills.teamwork' | translate}}
            </a>
            <a routerLinkActive="active" mat-menu-item routerLink="/skills/frontend">
                <mat-icon>wysiwyg</mat-icon>
                {{'navbar.skills.frontend' | translate}}
            </a>
            <a routerLinkActive="active" mat-menu-item routerLink="/skills/backend">
                <mat-icon>dns</mat-icon>
                {{'navbar.skills.backend' | translate}}
            </a>
        </mat-menu>
    </a>
    <a routerLinkActive="active" mat-button [matMenuTriggerFor]="menuExperience" style="padding-right: 5px">
        {{'navbar.experiences.name' | translate}}
        <mat-icon>expand_more</mat-icon>
        <mat-menu #menuExperience="matMenu">
            <a routerLinkActive="active" mat-menu-item routerLink="/experiences/projects">
                <mat-icon>folder_open</mat-icon>
                {{'navbar.experiences.projects' | translate}}
            </a>
            <a routerLinkActive="active" mat-menu-item routerLink="/experiences/reviews">
                <mat-icon>chat_bubble_outline</mat-icon>
                {{'navbar.experiences.reviews' | translate}}
            </a>
        </mat-menu>
    </a>
    <a routerLinkActive="active" mat-button routerLink="/contact">
        {{'navbar.contact' | translate}}
    </a>
</nav>