

#coin {
  width: 150px;
  height: 150px;
  position: relative;
  margin: auto;
}

#coin {
  cursor: pointer;
}


#head {
  position: absolute;
  z-index: 2;
  backface-visibility: hidden;
}

#tail {
  filter: grayscale(1) contrast(1);
  position: absolute;
  top: 0px;
  z-index: 1;
  background-color: #dadade4d;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transform: scale(1.12);
}


.initial {
  display: flex;
  align-items: center;
  place-items: center;
  position: absolute;
  width: 149px;
  height: 149px;
  top: 0px;
  border: 10px solid rgba(173, 171, 171, 0.69);
  border-radius: 50%;
  margin-top: 4px;
  z-index: 2;
  color: #4b4b4b;
  text-align: center;
  font-family: 'Roboto';
  font-size: 50px;
  transform: rotateY(
    180deg
  ) translateY(-3px);
}

.initial:after {
  content: 'MB';
  margin: auto;
}

.memoji-wave {
  background-color: #dadade1f;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transform: scale(1.12);
}

#coin:hover .memoji-background {
  #background-color: #e1e2e8;
}

.memoji-background {
  z-index: 1;
  background-color: #f6dfbe;
  #background-color: #e1e2e8;
  top: 0px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}


.memoji {
  backface-visibility: hidden;
  left: 0px;
  z-index: 3;
  top: 0px;
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#dot {
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #545353;
  right: 8px;
  bottom: 9px;
  z-index: 999;
  border-radius: 50%;
  border: 5px solid #f2f3f8;
}

#dot.available {
  background-color: #45a85b;
}


#dot.not-available {
  background-color: #de3232;
}



h1 {
  margin-top: 20px;
  text-align: center;
  color: rgba(0,0,0,.54)!important;
}

h1 #name {
  color: #3f51b5;
  font-size: 10pt;
  text-align: right;
  position: relative;
  top: -10px;
}
