<div id="coin">
  <div id="head" [ngStyle]="{transform: 'rotateY(' + coinAngle + 'deg)'}">
    <div class="memoji-background"></div>
    <img [src]="currentImagePath" [@image]="currentImagePath" class="memoji" (click)="makeFlip()" alt="Mathieu Berthellemy, nice looking picture">
    <div (click)="makePermanentThumbUp()" matTooltip="{{availability === Availability.AVAILABLE ? ('header.available' | translate) : ('header.notAvailable' | translate) }}" id="dot" [ngClass]="{'available': availability === Availability.AVAILABLE, 'not-available': availability === Availability.NOT_AVAILABLE}"></div>
  </div>
  <div id="tail" [ngStyle]="{transform: 'rotateY(' + coinAngle + 'deg)'}">
    <div class="memoji-background"></div>
    <div class="initial"></div>
  </div>
  <div class="memoji-wave" [@wave]="currentImagePath"></div>
</div>

<h1>
  <div>{{'header.title' | translate | appShuffle:isSick}}</div>
  <div id="name">{{name | appShuffle:isSick}}</div>
</h1>
