<div class="row">
    <app-projects class="col-12 col-lg-8"></app-projects>
    <div class="col-12 col-lg-4">
        <app-keywords [isMobile]="isMobile" class="pt-2 sticky-top d-block"></app-keywords>
    </div>
</div>