
:host {
    display: flex;
    flex-direction: column;
}

img {
    transition: 300ms;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100px;
    filter: opacity(30%) grayscale(100%);
}

@keyframes pouet-pouet {
    0%   {transform: rotateY(0deg) scale(1.1);}
    25%   {transform: rotateY(30deg) scale(1.1);}
    50%   {transform: rotateY(0deg) scale(1.1);}
    75%   {transform: rotateY(30deg) scale(1.1);}
    100%   {transform: rotateY(0deg) scale(1.1);}
}

:host:hover img:not(.is-mobile), img.is-mobile.in-boundaries {
    transform: scale(1.1);
    filter: opacity(100%) grayscale(0%) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.30));
}

img:not(.is-mobile):hover, img.is-mobile.in-boundaries {
    animation: ease-in 400ms pouet-pouet;
}


h2 {
    text-align: left;
}


p {
    text-align: justify;
}