
<ng-container *ngIf="isCard === false">
    <img class="mb-2" [src]="imgLink" *ngIf="imgLink" [alt]="title" [class.is-mobile]="isMobile" [class.in-boundaries]="inBoundaries">
    <h2 *ngIf="title" [style.textAlign]="titleAlign">
        <app-blured-in-text [text]="title"></app-blured-in-text>
    </h2>
    <p *ngIf="p1">
        <app-blured-in-text [text]="p1"></app-blured-in-text>
    </p>
    <p *ngIf="p2">
        <app-blured-in-text [text]="p2"></app-blured-in-text>
    </p>
</ng-container>
<mat-card *ngIf="isCard === true">
    <mat-card-title *ngIf="title !== undefined">
        <app-blured-in-text [text]="title"></app-blured-in-text>
    </mat-card-title>
    <mat-card-content>
        <p *ngIf="p1">
            <app-blured-in-text [text]="p1"></app-blured-in-text>
        </p>
        <p *ngIf="p2">
            <app-blured-in-text [text]="p2"></app-blured-in-text>
        </p>
    </mat-card-content>
</mat-card>