<mat-card *ngIf="project.type === 'project'" class="mb-3">
  <mat-card-header>
    <div style="width: 60px; height: 60px" mat-card-avatar *ngIf="project.imagePath !== undefined">
      <img [src]="project.imagePath" width="100%" [alt]="'experiences.projects.' + project.i18nKey + '.title' | translate">
    </div>
    <mat-card-title>{{'experiences.projects.' + project.i18nKey + '.title' | translate}}</mat-card-title>
    <mat-card-subtitle>
      {{'experiences.projects.' + project.i18nKey + '.subtitle' | translate}}
      <div class="date">
        <span *ngIf="project.date.start !== undefined">{{project.date.start | translatedDate}}</span>
        <span *ngIf="project.date.end !== undefined" class="data"> - {{project.date.end | translatedDate}}</span>
      </div>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="mb-3">
      {{'experiences.projects.' + project.i18nKey + '.text' | translate}}
    </div>
    <mat-chip-list aria-label="keywords">
      <mat-chip *ngFor="let chip of project.tags">{{chip}}</mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" *ngIf="project.link" (click)="goToLink(project.link)">
      {{'experiences.projects.seeLabel' | translate}}
    </button>
    <button mat-flat-button color="primary" *ngIf="project.source" (click)="goToLink(project.source)">
      {{'experiences.projects.sourceLabel' | translate}}
    </button>
  </mat-card-actions>
</mat-card>