<h2 *ngIf="actionTitle">
  <app-blured-in-text [text]="actionTitle"></app-blured-in-text>
</h2>
<mat-form-field appearance="outline" [color]="invalidEmail ? 'warn': 'primary'">
  <mat-label>
    <app-blured-in-text [text]="'tools.CTA.emailLabel' | translate"></app-blured-in-text>
  </mat-label>
  <input id="email" matInput type="text" [(ngModel)]="email" (ngModelChange)="sendStatus = false">
</mat-form-field>
<mat-form-field appearance="outline" [color]="invalidMessage ? 'warn': 'primary'" *ngIf="lang$ | async as lang">
  <mat-label>
    <app-blured-in-text [text]="messageLabel | translate"></app-blured-in-text>
  </mat-label>
  <textarea id="message"
            matInput
            (ngModelChange)="sendStatus = false"
            (keydown.enter)="send(lang)"
            cdkTextareaAutosize
            [(ngModel)]="message"
            cdkAutosizeMinRows="8"></textarea>
  <button color="primary" mat-raised-button (click)="send(lang)">
    <mat-icon style="transform: scale(0.8)">{{sendIcon}}</mat-icon>
    <ng-container *ngIf="sendStatus === false">
      <app-blured-in-text [text]="'tools.CTA.send' | translate"></app-blured-in-text>
    </ng-container>
    <ng-container *ngIf="sendStatus === undefined">
      <app-blured-in-text [text]="'tools.CTA.sending' | translate"></app-blured-in-text>
    </ng-container>
    <ng-container *ngIf="sendStatus === true">
      <app-blured-in-text [text]="'tools.CTA.sent' | translate"></app-blured-in-text>
    </ng-container>
  </button>
</mat-form-field>
