@keyframes is-active {
    0% {
        filter: brightness(100%);
    }
    20% {
        filter: brightness(140%);
    }
    100% {
        filter: brightness(100%);
    }
}

:host {
    text-align: center;
}

button {
    transition: 200ms;
    color: #62555e;
}

button:hover {
    color: #e24329;
}

button.small #tanuki-logo {
    width: 25px;
    padding: 2px;
    margin-left: 5px;
    margin-right: 5px;
}


button.medium #tanuki-logo {
    width: 40px;
    padding: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

button.large #tanuki-logo {
    width: 50px;
    padding: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

button.small {
    padding: 2px 5px;
    font-size: 10pt;
}

button.medium {
    padding: 5px;
    font-size: 16pt;
}

button.large {
    padding: 10px;
    font-size: 20pt;
}

button app-blured-in-text {
    margin-right: 10px;
    position: relative;
    top: 1px;
}

button:hover #tanuki-right-cheek {
    animation: is-active 2s infinite;
    animation-delay: 0s;
}
button:hover #tanuki-right-eye {
    animation: is-active 2s infinite;
    animation-delay: .1s;
}
button:hover #tanuki-right-ear {
    animation: is-active 2s infinite;
    animation-delay: .1s;
}
button:hover #tanuki-nose {
    animation: is-active 2s infinite;
    animation-delay: .2s;
}
button:hover #tanuki-left-eye {
    animation: is-active 2s infinite;
    animation-delay: .3s;
}
button:hover #tanuki-left-ear {
    animation: is-active 2s infinite;
    animation-delay: .3s;
}
button:hover #tanuki-left-cheek {
    animation: is-active 2s infinite;
    animation-delay: .4s;
}
