<div class="row">
    <app-availability class="col-12 col-md-6 col-lg-4"></app-availability>
    <div class="col-12 col-md-6 col-lg-8">
        <app-call-to-action [actionTitle]="'tools.CTA.contactMeTitle' | translate" [messageLabel]="'tools.CTA.describeYourNeedLabel' | translate"></app-call-to-action>
        <app-location></app-location>
    </div>
</div>