<main class="container">

    <header>
        <app-header [availability]="availability$ | async"></app-header>
        <app-navbar></app-navbar>
        <app-flags></app-flags>
    </header>

    <div [@routeAnimations]="route$ | async">
        <router-outlet></router-outlet>
    </div>

    <app-footer></app-footer>
</main>
