
header {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
}


header app-header {
    margin: auto;
}

header app-flags {
    text-align: center;
    margin-top: 30px;
}

app-navbar {
    margin: auto;
}


