
mat-card {
  overflow: hidden;
}


mat-card:hover svg, mat-card.locked svg {
  transform: scale(7) translate(6px, 3px);
}

#location {
  margin-top: 20px;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #3f51b5;
}

#location mat-icon {
  transform: scale(1.3);
  margin-right: 5px;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

svg {
  transition: 1000ms;
  padding: 0px;
}

#tooltip {
  padding: 15px;
  background-color: #eee;
  color: #9c9c9c;
  width: 100%;
  text-align: center;
}

.land {
  filter: blur(0px);
  shape-rendering: geometricPrecision;
  fill: #ccc;
  fill-opacity: 1;
  stroke: white;
  stroke-opacity: 1;
  stroke-width: 0.5;
  transition: 0.2s ease-out;
}

.land:hover {
  fill: #a9a9a9;
}

.tooltip {
  background-color: #333;
  color: #fff;
  padding: 1em;
}

.land.selected {
  fill: #455298
}
