
<div class="text-center">
    <div class="font-weight-bold pt-5 pb-5" style="filter: drop-shadow(5px 5px 2px #6c757d); opacity: 0.2; font-size: 80pt">
        404
    </div>

    <div style="font-size: 20pt; line-height: 26pt">
        {{'notFound.title' | translate}}
    </div>

    <div class="p-3 mr-lg-5 ml-lg-5">
        {{'notFound.description' | translate}}
    </div>
</div>
