<mat-icon>{{project.icon}}</mat-icon>
<div clas="d-block pl-4">
  <div class="title">{{'experiences.projects.' + project.i18nKey + '.title' | translate}}</div>
  <div class="subtitle">{{'experiences.projects.' + project.i18nKey + '.subtitle' | translate}}</div>
</div>