<div class="row justify-content-center">
    <app-paragraph [title]="'skills.teamwork.definition.title' | translate" [p1]="'skills.teamwork.definition.p1' | translate" class="col-12 col-lg-8 mb-1 mb-lg-5"></app-paragraph>
    <app-paragraph [title]="'skills.teamwork.service.title' | translate" [p1]="'skills.teamwork.service.p1' | translate" class="col-12 col-lg-4 mb-1 mb-lg-5"></app-paragraph>
    <app-paragraph [title]="'skills.agile.title' | translate" [p1]="'skills.agile.p1' | translate" imgLink="./assets/images/agile.png" class="col-12 col-md-6 col-lg-4 mb-5"></app-paragraph>
    <app-paragraph [title]="'skills.jira.title' | translate" [p1]="'skills.jira.p1' | translate" imgLink="./assets/images/jira.png" class="col-12 col-md-6 col-lg-4 mb-5"></app-paragraph>
    <app-paragraph [title]="'skills.git.title' | translate" [p1]="'skills.git.p1' | translate" imgLink="./assets/images/git.png" class="col-12 col-md-6 col-lg-4 mb-5"></app-paragraph>
    <app-paragraph [title]="'skills.gitlab.title' | translate" [p1]="'skills.gitlab.p1' | translate" imgLink="./assets/images/gitlab.png" class="col-12 col-md-6 col-lg-4 mb-5"></app-paragraph>
    <app-paragraph [title]="'skills.typescript.title' | translate" [p1]="'skills.typescript.p1' | translate" imgLink="./assets/images/typescript.png" class="col-12 col-md-6 col-lg-4 mb-5"></app-paragraph>
    <app-paragraph [title]="'skills.webstorm.title' | translate" [p1]="'skills.webstorm.p1' | translate" imgLink="./assets/images/webstorm.png" class="col-12 col-md-6 col-lg-4 mb-5"></app-paragraph>
    <app-call-to-action [actionTitle]="'tools.CTA.contactMeTitle' | translate" [messageLabel]="'tools.CTA.describeYourNeedLabel' | translate" class="col-12 col-md-8"></app-call-to-action>
</div>