.mat-stepper-vertical {
  background-color: unset;
}

::ng-deep mat-step-header {
  pointer-events: none;
  padding-left: 0px!important;
}

::ng-deep .mat-step-label {
  font-size: 18pt!important;
  color: #2f2e2e !important;
}

::ng-deep .mat-vertical-content-container {
  margin-left: 10px!important;
}

::ng-deep .mat-vertical-content {
  padding-right: 0px!important;
  padding-bottom: 0px!important;
}

::ng-deep .mat-vertical-stepper-content {
  visibility: visible !important;
  height: 100% !important;
  margin-right: 0px!important;
}
