<h2>{{'experiences.projects.title' | translate}}</h2>

<app-project *ngIf="overlighedProject.type === 'project'" [project]="overlighedProject" (mouseenter)="setHoveredProject(overlighedProject)" (mouseleave)="unsetHoveredProject()"></app-project>

<mat-vertical-stepper>
  <ng-template matStepperIcon="event">
    <mat-icon>event</mat-icon>
  </ng-template>
  <mat-step [editable]="false" state="event" *ngFor="let year of years">
    <ng-template matStepLabel>{{year}}</ng-template>
    <div class="row">
      <div class="col-12">
        <ng-container *ngFor="let project of groupedProjectByYear[year]" >
          <app-event *ngIf="project.type === 'event'" [project]="project" class="d-flex pb-3 pt-3"></app-event>
          <app-project *ngIf="project.type === 'project'" [project]="project" (mouseenter)="setHoveredProject(project)" (mouseleave)="unsetHoveredProject()"></app-project>
          </ng-container>
      </div>
    </div>

  </mat-step>
</mat-vertical-stepper>

