<div class="row justify-content-center">
    <app-paragraph [title]="'skills.frontend.definition.title' | translate" [p1]="'skills.frontend.definition.p1' | translate" class="col-12 col-lg-8 mb-1 mb-lg-5"></app-paragraph>
    <app-paragraph [title]="'skills.frontend.service.title' | translate" [p1]="'skills.frontend.service.p1' | translate" class="col-12 col-lg-4 mb-1 mb-lg-5"></app-paragraph>
    <app-paragraph [title]="'skills.angular.title' | translate" [p1]="'skills.angular.p1' | translate" imgLink="./assets/images/angular.png" class="col-12 col-md-6 col-lg-4 mb-1 mb-lg-5"></app-paragraph>
    <app-paragraph [title]="'skills.ngrx.title' | translate" [p1]="'skills.ngrx.p1' | translate" imgLink="./assets/images/ngrx.png" class="col-12 col-md-6 col-lg-4 mb-1 mb-lg-5"></app-paragraph>
    <app-paragraph [title]="'skills.material.title' | translate" [p1]="'skills.material.p1' | translate" imgLink="./assets/images/material.png" class="col-12 col-md-6 col-lg-4 mb-1 mb-lg-5"></app-paragraph>
    <app-paragraph [title]="'skills.rxjs.title' | translate" [p1]="'skills.rxjs.p1' | translate" imgLink="./assets/images/rxjs.png" class="col-12 col-md-6 col-lg-4 mb-1 mb-lg-5"></app-paragraph>
    <app-paragraph [title]="'skills.mapboxgl.title' | translate" [p1]="'skills.mapboxgl.p1' | translate" imgLink="./assets/images/mapboxgl.png" class="col-12 col-md-6 col-lg-4 mb-1 mb-lg-5"></app-paragraph>
    <app-paragraph [title]="'skills.electron.title' | translate" [p1]="'skills.electron.p1' | translate" imgLink="./assets/images/electron.png" class="col-12 col-md-6 col-lg-4 mb-1 mb-lg-5"></app-paragraph>
    <app-call-to-action [actionTitle]="'tools.CTA.contactMeTitle' | translate" [messageLabel]="'tools.CTA.describeYourNeedLabel' | translate" class="col-12 col-md-8"></app-call-to-action>
</div>