
<div id="flags" *ngIf="lang$ | async as lang">
  <img [alt]="Lang.FRENCH" [class.selected]="lang === Lang.FRENCH" class="flag" src="./assets/images/fr-FR.png" matTooltipPosition="above" matTooltip="Version française" (click)="changeLang(Lang.FRENCH)">
  <img [alt]="Lang.ENGLISH" [class.selected]="lang === Lang.ENGLISH" class="flag" src="./assets/images/en-US.png" matTooltipPosition="above" matTooltip="English version" (click)="changeLang(Lang.ENGLISH)">
</div>
