
img.flag {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  transition: 200ms;
}

.flag {
  border-radius: 5px;
  filter: grayscale(100%) opacity(30%);
}

.flag.selected {
  pointer-events: none;
  filter: grayscale(0%) opacity(100%);
}

.flag:hover {
  cursor: pointer;
  transform: scale(1.3);
  filter: grayscale(0%) opacity(100%);
}
