
<app-paragraph [title]="'pricing.title' | translate" [p1]="'pricing.description' | translate" [isCard]="false" titleAlign="left"></app-paragraph>
<div class="row">
    <div class="col-12 col-md-6 col-lg-4 p-2">
        <mat-card>
            <mat-card-title class="pb-3">
                {{'pricing.offer1.title' | translate}}
                <span style="color: red">*</span>

                <mat-icon>shield</mat-icon>

            </mat-card-title>
            <mat-card-content>
                <div class="d-flex justify-content-center">
                    <span class="mb-0 mt-2"  style="font-size: 24px">€</span>
                    <span class="price display-2 mb-0" style="font-size: 40px">29</span>
                    <span class="align-self-end mb-1"  style="font-size: 24px">
                        /{{'pricing.day' | translate}}
                        <span style="font-size: 8pt;top: -13px;position: relative;">{{'pricing.excludedTaxes' | translate}}</span>
                    </span>
                </div>
                <p class="text-center text-muted mb-2">
                    {{'pricing.perFeatureSet' | translate}}
                </p>
                <mat-list>
                    <mat-list-item>
                        <mat-checkbox (click)="$event.preventDefault()" color="primary" [checked]="true">{{'pricing.offer1.text1' | translate}}</mat-checkbox>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-checkbox (click)="$event.preventDefault()" color="primary" [checked]="true">{{'pricing.offer1.text2' | translate}}</mat-checkbox>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
        <i class="d-block mt-3">
            <span style="color: red">*</span> {{'pricing.offer1.included' | translate}}
        </i>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
        <mat-card>
            <mat-card-title class="pb-3">
                {{'pricing.offer2.title' | translate}}
                <mat-icon>verified_user</mat-icon>
            </mat-card-title>
            <mat-card-content>
                <div class="d-flex justify-content-center">
                    <span class="mb-0 mt-2"  style="font-size: 24px">€</span>
                    <span class="price display-2 mb-0" style="font-size: 40px">39</span>
                    <span class="align-self-end mb-1"  style="font-size: 24px">
                        /{{'pricing.day' | translate}}
                        <span style="font-size: 8pt;top: -13px;position: relative;">{{'pricing.excludedTaxes' | translate}}</span>
                    </span>
                </div>
                <p class="text-center text-muted mb-2">
                    {{'pricing.perFeatureSet' | translate}}
                </p>
                <mat-list>
                    <mat-list-item>
                        <mat-checkbox (click)="$event.preventDefault()" color="primary" [checked]="true">{{'pricing.offer1.text1' | translate}}</mat-checkbox>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-checkbox (click)="$event.preventDefault()" color="primary" [checked]="true">{{'pricing.offer1.text2' | translate}}</mat-checkbox>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-checkbox (click)="$event.preventDefault()" color="primary" [checked]="true">{{'pricing.offer2.text1' | translate}}</mat-checkbox>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="col-12 col-md-6 col-lg-4 p-2">
        <mat-card>
            <mat-card-title class="pb-3">
                {{'pricing.offer3.title' | translate}}
                <mat-icon>security</mat-icon>
            </mat-card-title>
            <mat-card-content>
                <div class="d-flex justify-content-center">
                    <span class="mb-0 mt-2"  style="font-size: 24px">€</span>
                    <span class="price display-2 mb-0" style="font-size: 40px">49</span>
                    <span class="align-self-end mb-1"  style="font-size: 24px">
                        /{{'pricing.day' | translate}}
                        <span style="font-size: 8pt;top: -13px;position: relative;">{{'pricing.excludedTaxes' | translate}}</span>
                    </span>
                </div>
                <p class="text-center text-muted mb-2">
                    {{'pricing.perFeatureSet' | translate}}
                </p>
                <mat-list>
                    <mat-list-item>
                        <mat-checkbox (click)="$event.preventDefault()" color="primary" [checked]="true">{{'pricing.offer1.text1' | translate}}</mat-checkbox>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-checkbox (click)="$event.preventDefault()" color="primary" [checked]="true">{{'pricing.offer1.text2' | translate}}</mat-checkbox>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-checkbox (click)="$event.preventDefault()" color="primary" [checked]="true">{{'pricing.offer2.text1' | translate}}</mat-checkbox>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-checkbox (click)="$event.preventDefault()" color="primary" [checked]="true">{{'pricing.offer3.text1' | translate}}</mat-checkbox>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-checkbox (click)="$event.preventDefault()" color="primary" [checked]="true">{{'pricing.offer3.text2' | translate}}</mat-checkbox>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="d-flex justify-content-center my-4 text-muted">{{'pricing.discount' | translate}}</div>