<div class="row">
    <app-reviews class="col-12 col-md-7 col-lg-8"></app-reviews>
    <div class="col-12 col-md-5 col-lg-4">
        <app-availability></app-availability>
        <app-call-to-action class="pt-2 sticky-top d-block" [actionTitle]="'tools.CTA.reviewTitle' | translate" [messageLabel]="'tools.CTA.experienceWithMeLabel' | translate"></app-call-to-action>
    </div>
</div>
