


html, body { height: 100%; background-color: #f5f6fb }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-pseudo-checkbox { display: none!important; }


::-webkit-scrollbar {
  display: none;
}


mat-expansion-panel {
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%)!important;
}

.mat-form-field-outline {
  background: white!important;
  overflow: hidden;
  border-radius: 5px;
}


h2 {
  color: rgba(0,0,0,.54)!important;
  font-size: 25px!important;
  font-weight: 400!important;
  margin-top: 20px!important;
  margin-bottom: 10px!important;
  padding: 0!important;
}


p {
  color: rgba(0,0,0,.54)!important;
  font-size: 16px!important;
  font-weight: 400!important;
  line-height: 28px!important;
  margin: 0 0 24px!important;
  padding: 0!important;
}
