
#availability {
  display: flex;
  float: right;
  border-radius: 30px;
  font-size: 12px;
  padding: 0px 20px;
}

#availability.available {
  background-color: #c0eecc;
  color: #297d3c;
}

#availability.not-available {
  background-color: #eec0c0;
  color: #7d2929;
}

mat-icon {
  margin: auto;
}

app-blured-in-text {
  margin: auto;
  margin-top: 2px;
  margin-left: 5px;
}

mat-card {
  padding: 0px
}
