<h2>
    <span id="availability" *ngIf="availability$ | async as availability" [class.available]="availability === Availability.AVAILABLE" [class.not-available]="availability === Availability.NOT_AVAILABLE">
      <mat-icon>event_available</mat-icon>
      <app-blured-in-text *ngIf="availability === Availability.AVAILABLE" [text]="'tools.availability.available' | translate"></app-blured-in-text>
      <app-blured-in-text *ngIf="availability === Availability.NOT_AVAILABLE" [text]="'tools.availability.notAvailable' | translate"></app-blured-in-text>
    </span>
    <app-blured-in-text [text]="'tools.availability.title' | translate"></app-blured-in-text>
</h2>
<mat-card>
  <mat-calendar [selected]="selectedDate" (selectedChange)="selectedDate = $event" [dateFilter]="dateFilter"></mat-calendar>
</mat-card>
