
mat-card {
  margin-bottom: 20px;
}

blockquote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  margin: 0.25em 0;
  padding: 0.35em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
}

.quote-p {
  margin-bottom: 10px;
}

blockquote:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}

.accent {
  color: #181818;
}

blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

img {
  margin-left: 10px;
  transition: 300ms;
  width: 20px;
  float: right;
  filter: grayscale(100%) opacity(30%);
}


img:hover {
  transform: scale(1.1);
  filter: grayscale(0%) opacity(100%);
}