<mat-card>
  <mat-card-content>
    <blockquote>
      <div class="quote-p">
        <app-blured-in-text [text]="'experiences.reviews.' + review.i18nKey + '.p1' | translate"></app-blured-in-text>
      </div>
      <div class="quote-p">
        <app-blured-in-text [text]="'experiences.reviews.' + review.i18nKey + '.p2' | translate"></app-blured-in-text>
      </div>
      <div class="quote-p">
        <app-blured-in-text [text]="'experiences.reviews.' + review.i18nKey + '.p3' | translate"></app-blured-in-text>
      </div>

      <a *ngIf="review.linkedinLink" target="_blank" [href]="review.linkedinLink">
        <img src="../../../../../assets/images/linkedin.png" alt="LinkedIn link">
      </a>

      <cite>
        <span class="accent">{{review.name}}</span>
         - {{review.year}}
        <br>
        <app-blured-in-text [text]="'experiences.reviews.' + review.i18nKey + '.job' | translate"></app-blured-in-text> <span class="accent">@{{review.company}}</span>
      </cite>
    </blockquote>
  </mat-card-content>
</mat-card>
